<div class="form-container">
    <form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
      <h2 class="main-text">Orçamento</h2>
      <div class="grid-container">
        <!-- ID Orçamento -->
        <div class="grid-item">
          <label for="idorcamento">ID Orçamento</label>
          <input
            type="text"
            id="idorcamento"
            formControlName="idorcamento"
            placeholder="Digite o ID do orçamento"
            [readonly]="!isEditing"
          />
        </div>
  
        <!-- Cliente -->
        <div class="grid-item">
          <label for="cliente">Cliente</label>
          <input
            type="text"
            id="cliente"
            [disabled]="true"
            [value]="orderForm.get('cliente')?.value?.name"
            placeholder="Digite o nome do cliente"
            [readonly]="!isEditing"
          />
        </div>
  
        <!-- Data de Importação -->
        <div class="grid-item">
          <label for="dtImportacao">Data de Importação</label>
          <input
            type="date"
            id="dtImportacao"
            formControlName="dtImportacao"
            [disabled]="!isEditing"
          />
        </div>
  
        <!-- Data de Entrega -->
        <div class="grid-item">
          <label for="dtEntrega">Data de Entrega</label>
          <input
            type="date"
            id="dtEntrega"
            formControlName="dtEntrega"
            [disabled]="!isEditing"
          />
        </div>
  
        <!-- Status -->
        <div class="grid-item">
          <label for="status">Status</label>
          <input
            type="text"
            id="status"
            formControlName="status"
            placeholder="Status do cliente"
            [readonly]="!isEditing"
          />
        </div>
  
        <!-- Observação -->
        <div class="grid-item">
          <label for="observacao">Observação</label>
          <textarea
            id="observacao"
            formControlName="observacao"
            placeholder="Observações adicionais"
            [readonly]="!isEditing"
          ></textarea>
        </div>
      </div>
  
      <!-- Botões de Ação -->
      <div class="form-actions">
        <button type="submit" [disabled]="!orderForm.valid || !isEditing" class="send-button">
          Enviar
        </button>
        <div>
          <button type="button" (click)="onEdit()" *ngIf="!isEditing">Editar</button>
          <button type="button" (click)="onCancel()" class="cancel-button" *ngIf="isEditing">Cancelar</button>
        </div>

        <!-- Botão de Imprimir -->
        <button *ngIf="data.status === 'Concluído'" type="button" class="print-button">
          <mat-icon fxLayoutAlign="center center">print</mat-icon> Imprimir
        </button>
      </div>
    </form>

    <app-product-table></app-product-table>
  </div>
  