<div class="form-container">
    <form [formGroup]="addressForm" (ngSubmit)="onSubmit()">
      <h2 class="main-text">Endereço</h2>
      <div class="grid-container">

        <!-- CEP -->
        <div class="grid-item">
          <label for="cep">CEP <span class="required">*</span></label>
          <input
            type="text"
            id="cep"
            formControlName="cep"
            placeholder="CEP do cliente"
            [readonly]="!isEditing"
            (blur)="onCepBlur()"
            appCepMask
            minLength="8"
            maxLength="8"
          />
          <div *ngIf="addressForm.get('cep')?.touched && addressForm.get('cep')?.invalid">
            <small class="error-text" *ngIf="addressForm.get('cep')?.hasError('required')">CEP é obrigatório.</small>
            <small class="error-text" *ngIf="addressForm.get('cep')?.hasError('pattern')">CEP inválido. Deve ter 8 dígitos.</small>
            <small class="error-text" *ngIf="addressForm.get('cep')?.hasError('minlength')">CEP deve ter no mínimo 8 caracteres.</small>
            <small class="error-text" *ngIf="addressForm.get('cep')?.hasError('maxlength')">CEP não pode ter mais de 8 caracteres.</small>
          </div>
        </div>

        <!-- ESTADO -->
        <div class="grid-item">
          <label for="estado">Estado <span class="required">*</span></label>
          <input
            type="text"
            id="estado"
            formControlName="estado"
            placeholder="Digite o estado"
            [readonly]="!isEditing"
          />
          <div *ngIf="addressForm.get('estado')?.touched && addressForm.get('estado')?.invalid">
            <small class="error-text" *ngIf="addressForm.get('estado')?.hasError('required')">Estado é obrigatório.</small>
          </div>
        </div>

        <!-- LOGRADOURO -->
        <div class="grid-item">
          <label for="logradouro">Logradouro <span class="required">*</span></label>
          <input
            type="text"
            id="logradouro"
            formControlName="logradouro"
            placeholder="Digite o logradouro"
            [readonly]="!isEditing"
          />
          <div *ngIf="addressForm.get('logradouro')?.touched && addressForm.get('logradouro')?.invalid">
            <small class="error-text" *ngIf="addressForm.get('logradouro')?.hasError('required')">Logradouro é obrigatório.</small>
          </div>
        </div>

        <!-- NUMERO -->
        <div class="grid-item">
          <label for="numero">Número <span class="required">*</span></label>
          <input
            type="text"
            id="numero"
            formControlName="numero"
            placeholder="Digite o número da rua"
            [readonly]="!isEditing"
          />
          <div *ngIf="addressForm.get('numero')?.touched && addressForm.get('numero')?.invalid">
            <small class="error-text" *ngIf="addressForm.get('numero')?.hasError('required')">Número é obrigatório.</small>
          </div>
        </div>
  
        <!-- CIDADE -->
        <div class="grid-item">
          <label for="cidade">Cidade <span class="required">*</span></label>
          <input
            type="text"
            id="cidade"
            formControlName="cidade"
            placeholder="Digite a cidade"
            [disabled]="!isEditing"
          />
          <div *ngIf="addressForm.get('cidade')?.touched && addressForm.get('cidade')?.invalid">
            <small class="error-text" *ngIf="addressForm.get('cidade')?.hasError('required')">Cidade é obrigatória.</small>
          </div>
        </div>

        <!-- BAIRRO -->
        <div class="grid-item">
          <label for="bairro">Bairro <span class="required">*</span></label>
          <input
            type="text"
            id="bairro"
            formControlName="bairro"
            placeholder="Digite o bairro"
            [disabled]="!isEditing"
          />
          <div *ngIf="addressForm.get('bairro')?.touched && addressForm.get('bairro')?.invalid">
            <small class="error-text" *ngIf="addressForm.get('bairro')?.hasError('required')">Bairro é obrigatório.</small>
          </div>
        </div>
  
        <!-- COMPLEMENTO -->
        <div class="grid-item">
          <label for="complemento">Complemento</label>
          <input
            type="text"
            id="complemento"
            formControlName="complemento"
            placeholder="Digite o complemento"
            [disabled]="!isEditing"
          />
        </div>

        <!-- PONTO DE REFERENCIA -->
        <div class="grid-item">
          <label for="pontoReferencia">Ponto de referência</label>
          <textarea
            id="pontoReferencia"
            formControlName="pontoReferencia"
            placeholder="Ponto de referência"
            [readonly]="!isEditing"
          ></textarea>
        </div>
      </div>
  
      <!-- Botões de Ação -->
      <div class="form-actions">
        <button type="submit" [disabled]="!addressForm.valid || !isEditing" class="btn-blue">
          Enviar
        </button>
        <div>
          <button type="button" (click)="onEdit()" class="btn-blue" *ngIf="!isEditing">Editar</button>
          <button type="button" (click)="onCancel()" class="cancel-button" *ngIf="isEditing">Cancelar</button>
        </div>
      </div>
    </form>
  </div>
  