<div class="form-container">
    <form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
      <h2 class="main-text">Endereço</h2>
      <div class="grid-container">

        <!-- CEP -->
        <div class="grid-item">
          <label for="cep">CEP <span class="required">*</span></label>
          <input
            type="number"
            id="cep"
            formControlName="cep"
            placeholder="CEP do cliente"
            [readonly]="!isEditing"
          />
        </div>

        <!-- RUA -->
        <div class="grid-item">
          <label for="rua">Rua <span class="required">*</span></label>
          <input
            type="text"
            id="rua"
            formControlName="rua"
            placeholder="Digite a rua"
            [readonly]="!isEditing"
          />
        </div>

        <!-- NUMERO -->
        <div class="grid-item">
          <label for="numero">Número <span class="required">*</span></label>
          <input
            type="text"
            id="numero"
            formControlName="numero"
            placeholder="Digite o número da rua"
            [readonly]="!isEditing"
          />
        </div>
  
        <!-- COMPLEMENTO -->
        <div class="grid-item">
          <label for="complemento">Complemento</label>
          <input
            type="text"
            id="complemento"
            formControlName="complemento"
            placeholder="Digite o complemento"
            [disabled]="!isEditing"
          />
        </div>
  
        <!-- PONTO DE REFERENCIA -->
        <div class="grid-item">
          <label for="pontoReferencia">Ponto de referência</label>
          <textarea
            id="pontoReferencia"
            formControlName="pontoReferencia"
            placeholder="Ponto de referência"
            [readonly]="!isEditing"
          ></textarea>
        </div>
      </div>
  
      <!-- Botões de Ação -->
      <div class="form-actions">
        <button type="submit" [disabled]="!orderForm.valid || !isEditing" class="btn-blue">
          Enviar
        </button>
        <div>
          <button type="button" (click)="onEdit()" class="btn-blue" *ngIf="!isEditing">Editar</button>
          <button type="button" (click)="onCancel()" class="cancel-button" *ngIf="isEditing">Cancelar</button>
        </div>
      </div>
    </form>
  </div>
  