$dark-primary-color: #130124;
$dark-text-color: white;
$dark-secondary-text-color: rgb(58, 139, 4);
$dark-secondary-color: #1b0231;
$dark-purple-color: #6a0fb9;
$gray-bg: #EEEEEE;
$gray-secondary-bg: #F1F3F6;

$light-primary-color: white;
$light-text-color: black;
$light-secondary-text-color: rgb(58, 139, 4);
$light-secondary-color: #EEEEEE;
$light-purple-color: #6a0fb9;
$gray-bg: #EEEEEE;
$gray-secondary-bg: #F1F3F6;

// toolbar
$toolbar-bg: #EBEBEB;

// navbar
$navbar-bg: rgb(56, 15, 56);
$border-bg: #012c57;

// table