:host {
    display: block;
    width: 100%;
    max-width: 800px;  /* Largura máxima do dialog, ajustável conforme necessário */
    height: 100%;
    max-height: 90vh;  /* Limita a altura do dialog para não ultrapassar a altura da tela */
    overflow: auto;  /* Evita que o dialog ultrapasse a tela */
}

.mat-dialog-container {
    display: flex;
    flex-direction: column;  /* Faz o dialog se comportar de forma flexível */
    width: 100%;  
    height: 100%;  /* Garante que o dialog ocupe 100% da altura disponível */
    padding: 0;  /* Remove o padding extra */
}

.mat-dialog-content {
    overflow-y: hidden;  /* Garante que o conteúdo seja rolável */
    flex-grow: 1;  /* Permite que o conteúdo expanda */
    padding: 13px;  /* Padding interno */
    max-height: calc(100vh - 120px);  /* Limita a altura do conteúdo do dialog */
}

.form-container {
    padding: 10px;
    width: 100%;  /* Garante que o formulário ocupe toda a largura do dialog */
    height: 100%;
    margin: 0 auto;
    background-color: #f4f4f4;
    color: black;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.form-container .main-text {
    text-align: center;
    margin-top: 10px;
}

.relatorio {
    width: 100%;
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 4px;
    margin-bottom: 20px;
    font-family: monospace;
    white-space: pre-wrap;
}

mat-dialog-actions {
    display: flex;  /* Flexbox para alinhar os elementos em linha */
    align-items: center;  /* Alinha os itens verticalmente ao centro */
    justify-content: center;  /* Deixa um espaço entre o input e o botão */
    width: 100%;
}

.input-container {
    display: flex;
    flex: 0 0 60%;  /* Faz com que o input ocupe 60% do espaço disponível */
    flex-direction: column;
    margin-right: 10px;  /* Espaçamento entre o input e o botão */
}

.input-container input {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    background-color: transparent;
    border: 1px solid #ccc; 
    border-radius: 4px;
    color: #333;
}

.input-container label {
    font-size: 14px;
    color: #333;
    margin-bottom: 8px;
}

.send-button {
    padding: 8px;
    background-color: blue;  /* Cor verde para o botão de imprimir */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    align-content: center;
    gap: 8px;  /* Espaço entre o ícone e o texto */
    margin-top: 22px;
}

button mat-icon {
    font-size: 18px;  /* Tamanho do ícone */
}

button:hover {
    background-color: darkblue;  /* Cor mais escura ao passar o mouse */
}

button:disabled {
    background-color: #ccc;  /* Cor quando o botão estiver desabilitado */
}

/* Responsividade */
@media (max-width: 768px) {
    .mat-dialog-actions {
        flex-direction: column;  /* Coloca os elementos em coluna em telas menores */
        align-items: flex-start;  /* Alinha os itens à esquerda */
    }

    .input-container {
        flex: 1 1 100%;  /* Faz com que o input ocupe 100% em telas pequenas */
        margin-right: 0;  /* Remove o espaçamento do lado */
    }

    button {
        width: 100%;  /* Faz com que o botão ocupe 100% da largura em telas pequenas */
        margin-top: 8px;  /* Dá um espaçamento no topo do botão */
    }
}

@media (max-width: 480px) {
    .input-container input {
        font-size: 12px;  /* Reduz o tamanho da fonte em telas muito pequenas */
        padding: 6px;
    }

    button {
        padding: 8px 12px;
        font-size: 14px;
    }
}
