<mat-tab-group (selectedTabChange)="onTabChange($event.tab.textLabel.toLowerCase())">
  <mat-tab label="Todos"></mat-tab>
  <mat-tab label="Importados"></mat-tab>
  <mat-tab label="Montagem"></mat-tab>
  <mat-tab label="Saída"></mat-tab>
  <mat-tab label="Recolher"></mat-tab>
  <mat-tab label="Concluídos"></mat-tab>
</mat-tab-group>

<div class="table-container">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Código</th>
      <td mat-cell *matCellDef="let element">{{element.id}}</td>
    </ng-container>

    <ng-container matColumnDef="cliente">
      <th mat-header-cell *matHeaderCellDef>Cliente</th>
      <td mat-cell *matCellDef="let element" class="client-cell">{{element.cliente}}</td>
    </ng-container>

    <ng-container matColumnDef="vlTotal">
      <th mat-header-cell *matHeaderCellDef>Valor Total</th>
      <td mat-cell *matCellDef="let element">{{element.vlTotal | currency}}</td>
    </ng-container>

    <ng-container matColumnDef="entrega">
      <th mat-header-cell *matHeaderCellDef>Entrega</th>
      <td mat-cell *matCellDef="let element">{{ element.dtEntrega | date: 'dd/MM/yyyy HH:mm' }}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let element">
        <span [ngClass]="getStatusClass(element.status)">
          {{ element.status }}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Ações</th>
      <td mat-cell *matCellDef="let element">
        <mat-icon
          *ngIf="element.id"
          color="primary"
          class="edit-icon"
          (click)="openDialog(element)"
          aria-label="Visualizar"
          matTooltip="Visualizar"
        >
          edit
        </mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
