<div class="filters" fxLayout="row wrap" fxLayoutGap="16px" fxLayoutAlign="start start">

  <!-- Filtro ID -->
  <div class="filter-item" fxFlex="1 1 17%" fxFlex.md="17%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayout="column">
    <label for="id">Código</label>
    <input type="number" [(ngModel)]="filter.id" id="id" placeholder="Código do orçamento">
  </div>

  <!-- Filtro Cliente -->
  <div class="filter-item" fxFlex="1 1 17%" fxFlex.md="17%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayout="column">
    <label for="cliente">Cliente</label>
    <input type="text" [(ngModel)]="filter.cliente" id="cliente" placeholder="Pesquise por cliente">
  </div>

  <!-- Filtro Data de Saída (Data Início e Data Fim) -->
  <div class="filter-item" fxFlex="1 1 34%" fxFlex.md="34%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayout="column">
    <label for="data-inicio">Data de Saída</label>

    <div fxLayout="row wrap" fxLayoutAlign="start stretch" fxLayoutGap="16px">
      
      <!-- Data Início -->
      <div fxLayout="column"
        fxFlex="1 1 45%" 
        fxFlex.md="42%" 
        fxFlex.sm="100%" 
        fxFlex.xs="100%" 
        fxFlex.lg="45%" 
        fxFlex.xl="45%">
          <input type="date" [(ngModel)]="filter.dataInicio" id="data-inicio" placeholder="Data Início">
      </div>

      <div fxLayout="column" fxFlex="none" style="align-self: center;">
        <span>até</span>
      </div>

      <!-- Data Fim -->
      <div fxLayout="column"
        fxFlex="1 1 45%" 
        fxFlex.md="42%" 
        fxFlex.sm="100%" 
        fxFlex.xs="100%" 
        fxFlex.lg="45%" 
        fxFlex.xl="45%">
          <input type="date" [(ngModel)]="filter.dataFim" id="data-fim" placeholder="Data Fim">
      </div>
    </div>
  </div>

  <!-- Botão de Pesquisa -->
  <div class="search-button" fxFlex="1 1 17%" fxFlex.md="17%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayout="column" fxLayoutAlign="start start">
    <div style="height: 25px;"></div>
    <button (click)="search()">
      Pesquisar <mat-icon>search</mat-icon>
    </button>
  </div>

</div>

<mat-tab-group [(selectedIndex)]="selectedIndex" class="custom-tab-group" (selectedTabChange)="onTabChange($event)">
  <mat-tab label="Todos"></mat-tab>
  <mat-tab label="Importado"></mat-tab>
  <mat-tab label="Montagem"></mat-tab>
  <mat-tab label="Saída"></mat-tab>
  <mat-tab label="Recolher"></mat-tab>
  <mat-tab label="Concluído"></mat-tab>
</mat-tab-group>

<!-- Tabela Responsiva -->
<div class="table-container">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
    
    <!-- Código -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Código</th>
      <td mat-cell *matCellDef="let element">{{element.id}}</td>
    </ng-container>

    <!-- Cliente -->
    <ng-container matColumnDef="cliente">
      <th mat-header-cell *matHeaderCellDef>Cliente</th>
      <td mat-cell class="client-cell" *matCellDef="let element">{{element.cliente.name}}</td>
    </ng-container>

    <!-- Valor Total -->
    <ng-container matColumnDef="vlTotal">
      <th mat-header-cell *matHeaderCellDef>Valor Total</th>
      <td mat-cell *matCellDef="let element">{{element.vlTotal | currency}}</td>
    </ng-container>

    <!-- Saida -->
    <ng-container matColumnDef="saida">
      <th mat-header-cell *matHeaderCellDef>Saída</th>
      <td mat-cell *matCellDef="let element">{{ element.dtSaida | date: 'dd/MM/yyyy HH:mm' }}</td>
    </ng-container>

    <!-- Entrega -->
    <ng-container matColumnDef="entrega">
      <th mat-header-cell *matHeaderCellDef>Entrega</th>
      <td mat-cell *matCellDef="let element">{{ element.dtEntrega | date: 'dd/MM/yyyy HH:mm' }}</td>
    </ng-container>

    <!-- Status -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let element">
        <span [ngClass]="getStatusClass(element.status)">
          {{ element.status }}
        </span>
      </td>
    </ng-container>

    <!-- Ações -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Ações</th>
      <td mat-cell *matCellDef="let element">
        <span class="action-icons">
          <mat-icon
            *ngIf="element.id"
            color="primary"
            class="edit-icon"
            (click)="openDialog(element)"
            aria-label="Visualizar"
            matTooltip="Visualizar"
          >
            edit
          </mat-icon>
          <mat-icon
            *ngIf="element.id"
            color="warn"
            class="delete-icon"
            (click)="onDelete(element)"
            aria-label="Excluir"
            matTooltip="Excluir"
          >
            delete
          </mat-icon>
        </span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <!-- Paginador -->
  <mat-paginator 
    [pageSizeOptions]="[5, 10, 20]"
    [length]="totalItems"  
    [pageSize]="pageSize"  
    [pageIndex]="pageIndex" 
    (page)="onPageChanged($event)"  
    showFirstLastButtons
    aria-label="Selecione uma página de orçamento">
  </mat-paginator>
</div>
