@import "../../../styles/variables.scss";

:host {
    display: block; // Para garantir que o host ocupa o espaço necessário
    width: 100%;
    margin: 0 auto; // Centraliza a tabela
}

.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 16px;
  padding: 16px;
  background-color: #f5f5f5;
  color: black;

  .filter-item {
    display: flex;
    flex-direction: column;
    
    label {
      margin-bottom: 8px;
      font-weight: bold;
      font-size: 0.9rem;
    }

    input {
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 1rem;
      height: 40px; 
      width: 100%;
    }
  }

  /* Estilizando o botão de pesquisa */
  .search-button {
    display: flex;
    justify-content: center;
    align-items: center;


    button {
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 4px;
      padding: 8px 14px;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s ease;
      display: inline-flex;
      align-items: center;

      &:hover {
        background-color: #0056b3;
      }

      mat-icon {
        margin-left: 10px; /* Adiciona espaçamento entre o ícone e o texto */
      }
    }
  }
}


::ng-deep .custom-tab-group {
  --mat-tab-header-inactive-label-text-color: gray;
  --mat-tab-header-pagination-icon-color: black;
  --mat-tab-header-inactive-hover-label-text-color: black;
}

table {
    width: 100%; 
    background-color: $light-primary-color; 

    th, td {
        color: black;
        text-align: center;
    }

    .status-green {
        display: inline-block;
        padding: 4px 8px;
        border-radius: 12px;
        background-color: rgba(0, 255, 0, 0.2); 
        color: green; 
        font-weight: bold;
    }

    .status-gray {
        display: inline-block;
        padding: 4px 8px;
        border-radius: 12px;
        background-color: rgba(128, 128, 128, 0.2);
        color: gray; 
        font-weight: bold;
    }

    .status-blue {
        display: inline-block;
        padding: 4px 8px;
        border-radius: 12px;
        background-color: rgba(0, 0, 255, 0.2);
        color: rgb(78, 78, 206); 
        font-weight: bold;
    }
    
    .status-yellow {
        display: inline-block;
        padding: 4px 8px;
        border-radius: 12px;
        background-color: rgba(226, 226, 13, 0.2); 
        color: rgb(148, 148, 1); 
        font-weight: bold;
    }
    
    .status-orange {
        display: inline-block;
        padding: 4px 8px;
        border-radius: 12px;
        background-color: rgba(255, 165, 0, 0.2); 
        color: rgb(224, 146, 0); 
        font-weight: bold;
    }
    
    .status-red {
        display: inline-block;
        padding: 4px 8px;
        border-radius: 12px;
        background-color: rgba(255, 0, 0, 0.2); 
        color: red; 
        font-weight: bold;
    }

    .client-cell {
        color: purple;
    }

    mat-icon {
        &.edit-icon:hover {
            color: darkviolet;
        }
    }    

    .action-icons {
      display: flex;
      gap: 10px;  /* Espaço entre os ícones */
      align-items: center; /* Alinha verticalmente no centro */
      justify-content: center;
    }

    .edit-icon, .delete-icon {
      cursor: pointer; /* Deixa o cursor como 'pointer' para indicar interatividade */
      font-size: 24px;  /* Ajuste o tamanho dos ícones */
    }
}

mat-paginator {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $paginator;
  color: $light-primary-color;
  font-weight: 400;
}

.demo-table {
    width: 100%;
}

.mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
    border-color: currentColor;
}

.demo-row-is-clicked {
    font-weight: bold;
}


// Responsividade para telas pequenas (móbile)
@media screen and (max-width: 600px) {
    table {
      font-size: 12px; /* Reduz o tamanho da fonte */
    }
  
    th, td {
      padding: 8px; /* Ajusta o padding para telas pequenas */
      min-width: 80px; /* Reduz a largura mínima das células */
    }
  
    .mat-column-id, .mat-column-cliente, .mat-column-vlTotal, .mat-column-entrega, .mat-column-saida, .mat-column-status, .mat-column-actions {
      display: block; /* Faz as colunas ficarem empilhadas */
      width: 100%; /* Coloca as colunas uma abaixo da outra */
    }
  
    .mat-column-id {
      margin-top: 8px; /* Adiciona um espaçamento acima das células */
    }
  
    .mat-column-actions {
      text-align: center;
    }
  }
  
  // Responsividade para tablets (entre 600px e 1024px)
  @media screen and (min-width: 601px) and (max-width: 1024px) {
    table {
      font-size: 13px;
    }

    th, td {
      padding: 10px;
    }
  
    .mat-column-id, .mat-column-cliente, .mat-column-vlTotal, .mat-column-entrega, .mat-column-saida, .mat-column-status, .mat-column-actions {
      display: inline-block;
      width: 16%; /* Distribui as colunas em tela maior que mobile */
    }
}
  