@import "../../../styles/variables.scss";

:host {
    display: block; // Para garantir que o host ocupa o espaço necessário
    width: 100%;
    margin: 0 auto; // Centraliza a tabela
}

table {
    width: 100%; 
    background-color: $light-primary-color; 

    th, td {
        color: black;
    }
}

.demo-table {
    width: 100%;
}

.mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
    border-color: currentColor;
}

.demo-row-is-clicked {
    font-weight: bold;
}